body {
  margin: 0;
}

.container {
  height: 100vh;
  position: relative;
}

.instructions-card {
  position: absolute;
  top: 5%;
  left: 5%;
  background: linear-gradient(
    to right,
    rgba(127, 150, 255, 0.801),
    rgba(14, 99, 211, 0.801)
  );
  backdrop-filter: blur(15px);
  padding: 2em 4em;
  border-radius: 0.5em;
  color: white;
}

.title {
  text-transform: uppercase;
}

.keys {
  margin: 0;
  padding: 0;
  line-height: 0.5em;
  text-transform: uppercase;
}

.spline-container {
  height: 100%;
}
